.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  height: 46px;
  z-index: 99;
}

.navbar a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 17px;
}

.navbar svg {
  margin-right: 30px;
  color: #dddddd;
}